<mat-card>
  <div *ngIf="isSignup">
    <h3>Create Account</h3>
    <button mat-stroked-button (click)="changeType('login')">
      Returning User?
    </button>
  </div>

  <div *ngIf="isLogin">
    <h3>Sign In</h3>
    <button mat-stroked-button size="small" (click)="changeType('signup')">
      New User?
    </button>
  </div>

  <div *ngIf="isReset">
    <h3>Reset Password</h3>
    <button mat-button (click)="changeType('login')">Back</button>
  </div>

  <form [formGroup]="form" (click)="onSubmit()">
    <mat-form-field appearance="outline" [color]="email!.valid && 'accent'">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" autocomplete="off" />
      <mat-error *ngIf="email!.invalid && email!.dirty">
        You must enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      [color]="password!.valid && 'accent'"
      *ngIf="!isReset"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        autocomplete="off"
      />
      <mat-error *ngIf="password!.invalid && password!.dirty">
        Your password must be at least 6 length
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      [color]="passwordDoesMatch ? 'accent' : 'warn'"
      *ngIf="isSignup"
    >
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        formControlName="confirmpassword"
        type="password"
        autocomplete="off"
      />
      <mat-error *ngIf="confirmpassword!.invalid && confirmpassword!.dirty">
        Passwords do not match
      </mat-error>
    </mat-form-field>
    <mat-error class="server-error"> {{ servermessage }} </mat-error>

    <button
      *ngIf="!isReset"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid || !passwordDoesMatch || loading"
    >
      Submit
    </button>
<br>
    <button
      *ngIf="isReset"
      mat-raised-button
      type="submit"
      [disabled]="loading"
    >
      Send Reset Email
    </button>
  </form>
  <button
  mat-button
  *ngIf="!isReset && isLogin"
  (click)="changeType('reset')"
>
  Forgot Password?
</button>
</mat-card>
